body {
  text-align: justify;
}


h5.pag {
  display: none;
  position: absolute;
  page-break-before: always;
  page-break-after: always;
  bottom: 0px;
  right: 0;
  border-top: 1px solid black;
  border-width: 100%;
  float: right;
  width: 100%;
}

h5::before {
  position: relative;
  bottom: 0;
  float: right;
  text-align: right;
}

